>**기출문제 제5회**
>>**01 작업형 제1유형**

## 옵션 설정

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 conventional 컬럼의 특수문자를 제거하고, IQR(3분위수-1분위수)를 구하시오. 
- 소수점 첫째 자리에서 반올림

In [5]:
data1 = pd.read_csv('5_1_1.csv')

In [7]:
# 영어, 숫자, 한국어를 제외한 모든 문자 제거 
# 코드 
data1.loc[:,'conventional'] = data1.loc[:, 'conventional'].str.replace(r'[^a-aA-z0-9가-힣]','',regex=True)
data1.head(1)

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,,-0.04,2023-01-01

In [10]:
data1.loc[:,'conventional'] = data1.loc[:, 'conventional'].replace('',np.nan)
data1.loc[:,'conventional'] = data1.loc[:, 'conventional'].astype(float)

# IQR
Q1 = data1.loc[:, 'conventional'].quantile(0.25)
Q3 = data1.loc[:, 'conventional'].quantile(0.75)
IQR = Q3 - Q1
print(f'IQR: {IQR}')

IQR: 8.75

## 문제 2. 
- 위 데이터에서 흑인 또는 히스패닉 비율(minority) / 빈곤율(poverty) > 2이며, 도시 유형(city)이 state인 도시의 범죄율(crime) 평균을 구하시오. 
- 소수점 첫째 자리에서 반올림

In [12]:
data1.loc[:, ['minority','poverty']].head()

   minority  poverty
0      26.1     18.9
1       5.7     10.7
2      18.9     13.2
3      16.9     19.0
4      24.3     10.4

In [16]:
# 코드
# minority / poverty > 2 & city : state
result_df = data1.loc[(data1.loc[:,'minority']/data1.loc[:, 'poverty']>2), :]
result_df

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
4,24.3,73,10.4,5.0,26.0,11.8,state,4.0,3.60,2023-01-05
19,16.7,58,6.8,0.8,28.2,10.5,state,0.0,2.03,2023-01-20
30,38.4,59,17.6,4.6,31.1,10.7,state,58.0,2.69,2023-01-31
42,30.6,55,15.0,4.7,38.7,7.7,state,1.0,0.27,2023-02-12
50,55.5,100,22.9,0.7,51.6,23.3,city,0.0,6.15,2023-02-20
52,53.7,66,20.3,6.7,43.8,51.4,city,0.0,5.42,2023-02-22
53,46.7,101,22.1,1.6,49.1,36.4,city,0.0,5.01,2023-02-23
54,41.6,118,14.2,3.1,31.5,12.9,city,0.0,8.18,2023-02-24
55,65.4,106,21.9,1.6,45.8,18.6,city,0.0,4.33,2023-02-25
56,45.1,80,12.7,5.1,31.6,8.9,city,0.0,5.79,2023-02-26
58,44.4,100,16.4,12.7,31.4,15.0,city,0.0,7.52,2023-02-28
60,44.0,101,20.0,8.9,39.8,32.2,city,0.0,7.39,2023-03-02
61,41.3,60,20.6,2.2,45.7,21.7,city,0.0,6.41,2023-03-03
62,46.7,143,21.8,0.5,51.8,40.9,city,0.0,3.60,2023-03-04
65,72.6,102,18.6,1.1,32.9,21.0,city,0.0,5.93,2023-03-07

In [18]:
result_df = data1.loc[(data1.loc[:,'minority']/data1.loc[:, 'poverty']>2) & (data1.loc[:, 'city'] == 'state'), :]

# crime 평균 계산
round(result_df.loc[:, 'crime'].mean(),1)

np.float64(61.2)

## 문제 3. 
- 다음 데이터에서 2016년 9월 이후, 온도(actual)의 평균을 구하시오. (소수점 첫째 자리에서 반올림)

In [9]:
# 2016년 9월 이후 데이터 필터링
filtered_data = data3.loc[(data3.loc[:, 'year'] == 2016) & (data3.loc[:, 'month'] >= 9)]

# 필터링된 데이터의 actual 평균 계산 및 반올림
actual_mean = round(filtered_data.loc[:, 'actual'].mean(), 0)

print(f'2016년 9월 이후 온도 평균: {actual_mean}')

   year  month  day week  temp_2  temp_1  average  actual  friend
0  2016      1    1  Fri      45      45     45.6      45      29

In [10]:
# 코드

2016년 9월 이후 온도 평균: 58.0

In [16]:
data3['date'] = pd.to_datetime(dict(year=data3['year'], month=data3['month'], day = data3['day']))

data4 = data3.copy()
data4.set_index('date', inplace=True)
data4.loc['2016-09-01':, 'actual'].mean()

2016년 9월 이후 온도 평균: 58.0